<section>
  <div class="div-card-left">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="main-card-title">Tasks 🗒️</mat-card-title>
          <button mat-mini-fab color="primary" (click)="openCreateTaskDialog()"><mat-icon>add</mat-icon></button>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card *ngFor="let task of tasks" [style.border]="'1px solid #e0e0e0'" [style.padding]="'16px'" [style.margin]="'8px'">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ task.taskName }}</mat-card-title>
            <mat-card-subtitle>{{ task.category.categoryName }}<h4>{{ task.deadline }}</h4></mat-card-subtitle>
            
            <mat-card-actions>
              <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteTask(task.taskId)"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ task.taskDescription }}
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
  <div class="div-card-right">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
        <mat-card-title class="main-card-title">Categories 🎨</mat-card-title>
        <button mat-mini-fab color="primary" (click)="openCreateCategoryDialog()"><mat-icon>add</mat-icon></button>
      </mat-card-title-group>
      </mat-card-header>

      <mat-card *ngFor="let category of taskCategories" [style.border]="'1px solid #e0e0e0'" [style.padding]="'16px'" [style.margin]="'8px'">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ category.categoryName }}</mat-card-title>
            <mat-card-actions>
              <button mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
              <button mat-icon-button color="warn" (click)="deleteCategory(category.categoryId)"><mat-icon>delete</mat-icon></button>
            </mat-card-actions>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          {{ category.categoryDescription }}        
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</section>