<section>
  <div class="div-card-left">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title class="main-card-title">Tasks 🗒️</mat-card-title>
          <button mat-mini-fab color="warn"><mat-icon >plus_one</mat-icon></button>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Task 1</mat-card-title>
            <mat-card-subtitle>Category 1</mat-card-subtitle>
            <h4>2024-04-07 10:15:30</h4>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Task 2</mat-card-title>
            <mat-card-subtitle>Category 2</mat-card-subtitle>
            <h4>2024-04-07 10:15:30</h4>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
  <div class="div-card-right">
    <mat-card>
      <mat-card-header>
        <mat-card-title class="main-card-title">Categories 🎨</mat-card-title>
      </mat-card-header>

      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Category 1</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>Category 2</mat-card-title>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et
        </mat-card-content>
      </mat-card>
    </mat-card>
  </div>
</section>